.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(200px);
  opacity: 0;
  visibility: collapse;
  z-index: 2;
  transition: all 0.33s ease-in-out;
}

.show-modal-overlay {
  opacity:1;
  visibility: visible;
  transition: all 0.36s ease-out;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: collapse;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.33s ease-in-out;
  z-index: 4;
}

.show-modal-container {
  visibility: visible;
  opacity:1;
  transition: all 0.36s ease-out;
}

.modal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: -40px auto;
  padding: 0 10px;
  // border: 1px solid #d0d9d4;
  background-image: url(../Assets/Images/realblack-mobile2.jpg);
  // background-position: center;
  // background-repeat: repeat-y;
  border-radius: 8px;
  width: 97vw;
  align-items: center;
  z-index: 4;

  .modal-image-div {
    padding: 10px 10px;

    .icon-close {
      color: #da0707cd;
      padding-right: 4px;
      position: absolute;
      width : 32px;
      height: 32px;
      right: 2px;
      cursor: pointer;
      // background-color: rgba(248, 80, 80, 0.594);
      // filter:blur(10px);
    }

    .modal-image {
      width: 320px;
      height: auto;
    }

    .modal-nav-button {
      border: 0;
      padding: 10px;
      margin: 0;
      line-height: 0px;
      background-color: transparent;
      font-size: 25px;
      position: absolute;
      top: 50%;
      cursor: pointer;
      transition: color 0.2s ease-out;
      color: white;

      &:hover {
        color: $primary;
      }
    }

    .modal-left-button {
      left: 5%;
    }

    .modal-right-button {
      right: 5%;
      // display: none;
    }
  }

  .modal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: transparent;
    border-radius: 8px;
    

    .modal-heading {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      margin-top: 10px;
      color: $text-main;
    }

    .modal-languages {
      flex-basis: 0;
      height: auto;
      max-width: 315px;
      margin: 10px 10px;

      .modal-language-list {
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
        gap: 0 10px;
        padding: 0;
        height: 80px;
        list-style-type: none;

        .modal-li {
          padding: 8px 12px;
          background: transparent;
          font-family: $font-tertiary;
          border-radius: 4px;
          letter-spacing: 1px;
          font-size: 12px;
          line-height: 16px;
          font-style: normal;
          font-weight: 600;
          text-align: center;
          color: $language-color;
        }
      }
    }

    .modal-button-container {
      display: flex;
      justify-content: space-around;
      margin: 15px 0;

      .modal-button {
        width: 120px;
        height: 40px;
        padding: 8px 4px;
        margin-bottom: 10px;
        font-size: 12px;
        background-color: transparent;
        border: 2px groove $button-enable;

        &:hover {
          box-shadow: 0 8px 16px $button-hover-shadow;
        }

        &:active {
          background: $button-active;
        }

        .modal-link {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    .modal-navigation-buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}