.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  // transform: scale(0.5);

  width: 100vw;
  height: 100vh;
  // background-color: #fd9c0049;
  backdrop-filter: blur(200px);
  // display: none;
  z-index: 2;
  transition: all 0.33s ease-in-out;
}

.show-modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.4s ease-in-out;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.33s ease-in-out;
  z-index: 4;
}

.show-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.4s ease-in-out;
}

.modal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: -40px auto;
  padding: 0 10px;
  border: 1px solid #d0d9d4;
  background: #fff;
  border-radius: 8px;
  width: 80vw;
  align-items: center;
  z-index: 4;

  .modal-image-div {
    padding: 10px 10px;

    .icon-close {
      color: #fff;
      padding: 7px;
      position: absolute;
      right: 4%;
      cursor: pointer;
      background-color: rgba(248, 80, 80, 0.594);
      // filter:blur(10px);
    }

    .modal-image {
      width: 320px;
      height: auto;
    }

    .modal-nav-button {
      border: 0;
      padding: 10px;
      margin: 0;
      line-height: 0px;
      background-color: rgba(255, 255, 255, 0.651);
      font-size: 25px;
      position: absolute;
      top: 50%;
      cursor: pointer;
      transition: color 0.2s ease-out;
      color: $primary;

      &:hover {
        color: $primary;
      }
    }

    .modal-left-button {
      left: 5%;
    }

    .modal-right-button {
      right: 5%;
      // display: none;
    }
  }

  .modal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #fff;
    border-radius: 8px;

    .modal-heading {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      margin-top: 10px;
      color: $text-project-card;
    }

    .modal-languages {
      flex-basis: 0;
      height: auto;
      max-width: 315px;
      margin: 10px 10px;

      .modal-language-list {
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
        gap: 0 10px;
        padding: 0;
        height: 80px;
        list-style-type: none;

        .modal-li {
          padding: 8px 12px;
          background: #ebf0ee;
          border-radius: 4px;
          font-size: 12px;
          line-height: 16px;
          font-style: normal;
          font-weight: 600;
          text-align: center;
          color: $text-project-card;
        }
      }
    }

    .modal-button-container {
      display: flex;
      justify-content: space-around;
      margin: 15px 0;

      .modal-button {
        width: 140px;
        height: 48px;
        margin-bottom: 10px;

        &:hover {
          box-shadow: 0 8px 16px $button-hover-shadow;
        }

        &:active {
          background: $button-active;
        }

        .modal-link {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    .modal-navigation-buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
