@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
	2. Remove default margin
  */
* {
  margin: 0;
}

/*
	3. Allow percentage-based heights in the application
  */
html,
body {
  scroll-behavior: auto;
  height: auto;
  font-family: "Montserrat", sans-serif;
}

/*
	Typographic tweaks!
	4. Add accessible line-height
	5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url(../Assets/Images/realblack-mobile2.jpg);
  background-position: center;
  background-repeat: repeat-y;
}

/*
	6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
	7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
	8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
	9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.btn {
  background-color: #36b37e;
  color: #fff;
  border-radius: 4px;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover {
  box-shadow: 0 8px 16px rgba(19, 217, 134, 0.24);
}
.btn:active {
  background: #008552;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
  background-color: #f97316;
}

.dark-theme {
  color: white !important;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.homepage-container .homepage-header {
  display: flex;
  flex: 0;
  justify-content: space-between;
  padding: 8px;
  margin-top: 10px;
  background-color: transparent;
}
.homepage-container .homepage-header .menu-bars {
  margin-left: auto;
  margin-right: 15px;
  padding-right: 10px;
  transition: all 1s linear;
  color: #ff9500;
}
.homepage-container .homepage-header .hide-element {
  display: none;
}
.homepage-container .homepage-header .menu-close {
  margin-left: auto;
  margin-right: 15px;
  z-index: 99;
  color: #ff9500;
  padding-right: 10px;
}
.homepage-container .homepage-header nav.mobile-nav {
  display: flex;
  position: absolute;
  top: 0;
  left: -100%;
  flex-direction: column;
  height: 97vh;
  width: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background: rgba(255, 255, 255, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}
.homepage-container .homepage-header nav.mobile-nav ul {
  list-style-type: none;
  margin-top: 108px;
}
.homepage-container .homepage-header nav.mobile-nav ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 40px;
}
.homepage-container .homepage-header nav.mobile-nav ul li a {
  text-decoration: none;
}
.homepage-container .homepage-header nav.mobile-nav ul span {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
  -webkit-fill-text-color: transparent;
}
.homepage-container .homepage-header nav.mobile-nav ul .li-1 {
  background-image: linear-gradient(to right, rgb(29, 78, 216), rgb(30, 64, 175), rgb(17, 24, 39));
}
.homepage-container .homepage-header nav.mobile-nav ul .li-2 {
  background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
}
.homepage-container .homepage-header nav.mobile-nav ul .li-3 {
  background-image: linear-gradient(to right, rgb(239, 68, 68), rgb(153, 27, 27));
}
.homepage-container .homepage-header nav.show-mobile-nav {
  left: 0;
  opacity: 100%;
}
.homepage-container .homepage-header-large-screen {
  display: none;
}
.homepage-container .homepage-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin: 0 20px;
  overflow: hidden;
  border: #d0d9d4;
}
.homepage-container .homepage-section article {
  z-index: -1;
}
.homepage-container .homepage-section article .homepage-h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: #ff9500;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 0 auto;
}
.homepage-container .homepage-section article .homepage-h1 .greeting-span {
  font-size: 50px;
  margin-bottom: 20px;
}
.homepage-container .homepage-section article .homepage-h1 .greeting-span .name-span div {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
  -webkit-fill-text-color: transparent;
  background-image: linear-gradient(to right, rgb(254, 202, 202), rgb(252, 165, 165), rgb(254, 240, 138));
}
.homepage-container .homepage-section article .homepage-h1 .jobtitle-span {
  color: #ffffff;
  font-size: 28px;
  line-height: 30px;
}
.homepage-container .homepage-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ff9500;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-kerning: none;
}
.homepage-container .homepage-section .social-media-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 10px;
}
.homepage-container .homepage-section .scroll-button {
  margin-top: 40px;
  width: 40px;
  height: 40px;
  bottom: 4px;
  border: none;
}

.project-page {
  display: flex;
  flex-direction: column;
}
.project-page .recent-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.project-page .recent-work h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #ff9500;
}
.project-page .recent-work .underline {
  width: 48px;
  height: 4px;
  background: #ffffff;
  border-radius: 24px;
  margin-top: 20px;
}
.project-page .grid-card-display {
  display: grid;
  grid-gap: 20px;
  padding: 10px 0;
  margin: 0 auto;
}
.project-page .grid-card-display .project-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 0;
  border: 1px solid #d0d9d4;
  background: #ebf0ee;
  border-radius: 8px;
}
.project-page .grid-card-display .project-card .project-card-image {
  padding: 10px 10px;
  height: 100%;
  margin: 0 auto;
}
.project-page .grid-card-display .project-card .project-card-image img {
  transition: all 0.3s ease-in-out;
}
.project-page .grid-card-display .project-card .card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #fff;
  border-radius: 8px;
}
.project-page .grid-card-display .project-card .card-details .card-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 10px;
  color: #3a4a42;
}
.project-page .grid-card-display .project-card .card-details .card-languages {
  flex-basis: 0;
  height: auto;
  margin: 0 10px;
  max-width: 315px;
}
.project-page .grid-card-display .project-card .card-details .card-languages .language-list {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 0 10px;
  padding: 0;
  height: 80px;
  list-style-type: none;
}
.project-page .grid-card-display .project-card .card-details .card-languages .language-list li {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #3a4a42;
}
.project-page .grid-card-display .project-card .card-details .project-card-button {
  width: 122px;
  height: 48px;
  margin-bottom: 10px;
  align-self: center;
}

.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  z-index: 2;
  transition: all 0.33s ease-in-out;
}

.show-modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.4s ease-in-out;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.33s ease-in-out;
  z-index: 4;
}

.show-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.4s ease-in-out;
}

.modal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: -40px auto;
  padding: 0 10px;
  border: 1px solid #d0d9d4;
  background: #fff;
  border-radius: 8px;
  width: 80vw;
  align-items: center;
  z-index: 4;
}
.modal-card .modal-image-div {
  padding: 10px 10px;
}
.modal-card .modal-image-div .icon-close {
  color: #fff;
  padding: 7px;
  position: absolute;
  right: 4%;
  cursor: pointer;
}
.modal-card .modal-image-div .modal-image {
  width: 320px;
  height: auto;
}
.modal-card .modal-image-div .modal-nav-button {
  border: 0;
  padding: 10px;
  margin: 0;
  line-height: 0px;
  background-color: rgba(255, 255, 255, 0.651);
  font-size: 25px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transition: color 0.2s ease-out;
  color: #ffffff;
}
.modal-card .modal-image-div .modal-nav-button:hover {
  color: #ffffff;
}
.modal-card .modal-image-div .modal-left-button {
  left: 5%;
}
.modal-card .modal-image-div .modal-right-button {
  right: 5%;
}
.modal-card .modal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #fff;
  border-radius: 8px;
}
.modal-card .modal-details .modal-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-top: 10px;
  color: #3a4a42;
}
.modal-card .modal-details .modal-languages {
  flex-basis: 0;
  height: auto;
  max-width: 315px;
  margin: 10px 10px;
}
.modal-card .modal-details .modal-languages .modal-language-list {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 0 10px;
  padding: 0;
  height: 80px;
  list-style-type: none;
}
.modal-card .modal-details .modal-languages .modal-language-list .modal-li {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: #3a4a42;
}
.modal-card .modal-details .modal-button-container {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
.modal-card .modal-details .modal-button-container .modal-button {
  width: 140px;
  height: 48px;
  margin-bottom: 10px;
}
.modal-card .modal-details .modal-button-container .modal-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}
.modal-card .modal-details .modal-button-container .modal-button:active {
  background: #008552;
}
.modal-card .modal-details .modal-button-container .modal-button .modal-link {
  text-decoration: none;
  color: #fff;
}
.modal-card .modal-details .modal-navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.about-me-page {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  overflow-x: hidden;
  background-color: transparent;
}
.about-me-page .about-me-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 25px;
}
.about-me-page .about-me-div h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 10px 0;
  color: #ff9500;
}
.about-me-page .about-me-div p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 10px 0;
  color: #ff9500;
  display: inline-block;
}
.about-me-page .about-me-div .resume-button {
  width: -moz-fit-content;
  width: fit-content;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}
.about-me-page .grid-skill-display {
  display: grid;
  grid-gap: 20px;
  padding: 10px 0;
  margin: 50px auto;
}
.about-me-page .grid-skill-display .skill-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 0;
  border-radius: 8px;
  justify-content: space-between;
  padding: 20px 0;
}
.about-me-page .grid-skill-display .skill-card .framework-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.about-me-page .grid-skill-display .skill-card .framework-logo-div .framework-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me-page .grid-skill-display .skill-card .skill-card-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 10px;
  color: #ff9500;
}
.about-me-page .grid-skill-display .skill-card .skill-card-details {
  display: flex;
  flex: 1 1 0;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 20px;
  align-items: center;
}
.about-me-page .grid-skill-display .skill-card .skill-card-details .skill-card-languages {
  margin: 10px 10px;
  height: auto;
  max-width: 315px;
}
.about-me-page .grid-skill-display .skill-card .skill-card-details .skill-card-languages .skill-language-list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 90px;
  flex-wrap: wrap;
  gap: 10px 10px;
  padding: 0;
  list-style-type: none;
}
.about-me-page .grid-skill-display .skill-card .skill-card-details .skill-card-languages .skill-language-list li {
  padding: 12px;
  background: #ebf0ee;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: black;
}

.contact-form-page {
  height: 100%;
}
.contact-form-page .form-div .form-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 52px;
  text-align: center;
  color: #ff9500;
  margin: 0 24px;
  display: default;
}
.contact-form-page .form-div form {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;
}
.contact-form-page .form-div form label.hidden-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.contact-form-page .form-div form .form-field {
  margin-bottom: 24px;
  width: 327px;
  height: 48px;
  padding: 15px 16px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}
.contact-form-page .form-div form .form-field::-moz-placeholder {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #6b778c;
}
.contact-form-page .form-div form .form-field::placeholder {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #6b778c;
}
.contact-form-page .form-div form .form-field:not(:focus):not(:-moz-placeholder-shown):valid {
  box-shadow: 0 0 2px 1px rgb(14, 137, 14);
}
.contact-form-page .form-div form .form-field:not(:focus):not(:placeholder-shown):valid {
  box-shadow: 0 0 2px 1px rgb(14, 137, 14);
}
.contact-form-page .form-div form .form-field:invalid:not(:focus):not(:-moz-placeholder-shown) {
  box-shadow: 0 0 5px 1px rgb(243, 82, 82);
}
.contact-form-page .form-div form .form-field:invalid:not(:focus):not(:placeholder-shown) {
  box-shadow: 0 0 5px 1px rgb(243, 82, 82);
}
.contact-form-page .form-div form textarea {
  margin-bottom: 24px;
  width: 327px;
  height: 114px;
  padding: 12px;
  border: 1px solid #60c095;
  border-radius: 4px;
}
.contact-form-page .form-div form textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}
.contact-form-page .form-div form textarea::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}
.contact-form-page .form-div form textarea:not(:-moz-placeholder-shown):valid:not(:focus) {
  box-shadow: 0 0 2px 1px rgb(14, 137, 14);
}
.contact-form-page .form-div form textarea:not(:placeholder-shown):valid:not(:focus) {
  box-shadow: 0 0 2px 1px rgb(14, 137, 14);
}
.contact-form-page .form-div form textarea:invalid:not(:-moz-placeholder-shown):not(:focus) {
  box-shadow: 0 0 5px 1px rgb(243, 82, 82);
}
.contact-form-page .form-div form textarea:invalid:not(:placeholder-shown):not(:focus) {
  box-shadow: 0 0 5px 1px rgb(243, 82, 82);
}
.contact-form-page .form-div form #error-message {
  visibility: hidden;
  color: rgb(249, 91, 0);
  margin: 20px;
}
.contact-form-page .form-div form .form-button-div .form-button {
  width: 137px;
  height: 48px;
}
.contact-form-page .footer-social-media {
  margin-top: 46px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form-page .footer-social-media .footer-social-media-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.contact-form-page .footer-social-media .footer-email {
  text-decoration: none;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.layered-design-page {
  height: 100vh;
  background-color: yellow;
}
@media (min-width: 768px) {
  body {
    background-image: url(../Assets/Images/realblack.jpg);
  }
  .homepage-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 65vh;
  }
  .homepage-container .homepage-header {
    display: none;
  }
  .homepage-container .homepage-header-large-screen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    padding: 8px;
    margin-top: 0;
    width: 100vw;
    z-index: 2;
    transition: top 0.1s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
  }
  .homepage-container .homepage-header-large-screen nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    margin: 0 30px;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
  }
  .homepage-container .homepage-header-large-screen nav a:hover {
    color: #ffbf00;
  }
  .homepage-container .homepage-header-large-screen nav .underline-current-nav {
    transition: all 0.3s;
    border-bottom: 5px solid #ff9500;
  }
  .homepage-container .hide-header {
    top: -50px;
    transition: 0.3s ease-in-out;
  }
  .homepage-container .homepage-section {
    background: none;
    margin: 0 130px;
    justify-content: center;
  }
  .homepage-container .homepage-section .homepage-h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #ff9500;
  }
  .homepage-container .homepage-section .homepage-h1 .greeting-span {
    font-size: 48px;
  }
  .homepage-container .homepage-section .homepage-h1 .jobtitle-span {
    color: #ffffff;
    font-size: 38px;
    line-height: 30px;
  }
  .homepage-container .homepage-section p {
    margin-left: auto;
    margin-right: auto;
  }
  .homepage-container .homepage-section .social-media-list {
    width: 40%;
    margin-top: 40px;
  }
  .project-page .grid-card-display {
    width: 97%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  .project-page .grid-card-display .project-card .project-card-image {
    margin: auto;
  }
  .modal-card {
    padding: 15px;
    margin: 0 auto;
    overflow-y: none;
    height: 100vh;
    width: 60vw;
  }
  .modal-card .modal-image-div .icon-close {
    padding: 10px;
    color: #000;
    background-color: transparent;
    transition: color 0.2s ease-out;
  }
  .modal-card .modal-image-div .icon-close:hover {
    color: #f00;
  }
  .modal-card .modal-image-div .modal-image {
    width: 600px;
    height: 350px;
  }
  .modal-card .modal-image-div .modal-nav-button {
    font-size: 40px;
    top: 33%;
    color: black;
  }
  .modal-card .modal-image-div .modal-left-button {
    left: 5%;
  }
  .modal-card .modal-image-div .modal-left-button:hover {
    color: #008552;
  }
  .modal-card .modal-image-div .modal-right-button {
    right: 5%;
  }
  .modal-card .modal-image-div .modal-right-button:hover {
    color: #008552;
  }
  .modal-card .modal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background: #fff;
    border-radius: 8px;
  }
  .modal-card .modal-details .modal-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    line-height: 44px;
    margin-top: 5px;
    margin-left: 5px;
    align-self: flex-start;
    color: #3a4a42;
    align-self: center;
  }
  .modal-card .modal-details .modal-languages {
    align-self: center;
    flex-basis: 0;
    height: auto;
    margin: 5px 5px;
  }
  .modal-card .modal-details .modal-languages .modal-language-list {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 0 10px;
    padding: 0;
    height: 80px;
    list-style-type: none;
  }
  .modal-card .modal-details .modal-languages .modal-language-list .modal-li {
    padding: 8px 12px;
    background: #ebf0ee;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #3a4a42;
  }
  .modal-card .modal-details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 5px;
  }
  .modal-card .modal-details .modal-button-container {
    right: 15px;
    bottom: 45px;
    gap: 0 10px;
  }
  .modal-card .modal-details .modal-button-container .modal-button:hover {
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }
  .modal-card .modal-details .modal-button-container .modal-button:active {
    background: #008552;
  }
  .about-me-page .about-me-div {
    background-position: 50% 50%;
    background-size: contain;
  }
  .about-me-page .about-me-div p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  .about-me-page .grid-skill-display {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .about-me-page .grid-skill-display .skill-card {
    height: 352px;
  }
  .contact-form-page {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
  }
  .contact-form-page .form-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-form-page .form-div .form-title {
    font-size: 25px;
    width: 50%;
  }
  .contact-form-page .form-div .form-success {
    font-size: 25px;
    width: 50%;
  }
  .contact-form-page .form-div form {
    width: 40%;
    align-items: flex-start;
    margin-right: 50px;
    background-image: none;
  }
  .contact-form-page .form-div form .form-field {
    width: 100%;
  }
  .contact-form-page .form-div form textarea {
    width: 100%;
  }
  .contact-form-page .footer-social-media {
    border-top: 1px solid;
    width: 100%;
    margin-bottom: 0;
  }
  .contact-form-page .footer-social-media .footer-social-media-list {
    padding: 20px 0;
    width: 25%;
  }
  .contact-form-page .footer-social-media .footer-email {
    display: none;
  }
}
@media (min-width: 992px) {
  .homepage-container {
    background-position: unset;
    min-height: 100vh;
  }
  .homepage-container .homepage-section {
    margin: 0 260px;
  }
  .homepage-container .homepage-section article {
    margin-top: 40px;
  }
  .homepage-container .homepage-section p {
    width: 75%;
    font-size: 22px;
    line-height: 38px;
  }
  .homepage-container .homepage-section .social-media-list {
    width: 30%;
  }
  .homepage-container .homepage-section .scroll-button {
    bottom: 4px;
  }
  .project-page .grid-card-display {
    grid-gap: 24px 30px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(340px, 360px));
  }
  .about-me-page .about-me-div {
    background-size: cover;
  }
  .about-me-page .grid-skill-display {
    grid-gap: 32px 24px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contact-form-page {
    background-position: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .contact-form-page .form-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-form-page .form-div .form-title {
    font-size: 30px;
    width: 30%;
    margin-top: -40px;
  }
  .contact-form-page .form-div .form-success {
    font-size: 30px;
    width: 30%;
    margin-top: -40px;
  }
  .contact-form-page .form-div form {
    width: 40%;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
  }
  .contact-form-page .form-div form .form-field {
    width: 75%;
  }
  .contact-form-page .form-div form textarea {
    width: 75%;
  }
  .contact-form-page .form-div form .form-button-div {
    position: relative;
    width: 450px;
  }
  .contact-form-page .form-div form .form-button-div .form-button {
    transition: transform 0.15s ease-out;
  }
  .contact-form-page .footer-social-media {
    border: 2px solid;
    width: 100%;
    margin-bottom: 0;
  }
  .contact-form-page .footer-social-media .footer-social-media-list {
    padding: 20px 0;
    width: 25%;
  }
  .contact-form-page .footer-social-media .footer-email {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */